In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("report_scrap20180816.csv")

In [9]:
df.head()

,machine,part_id,start,end,good,total,scrap
0,Entubadora,SW31909,2018-06-11 00:00:00,2018-06-11 00:04:29,0.0,384.33,0
1,Entubadora,SW36347,2018-06-11 00:04:29,2018-06-11 00:14:22,0.0,873.80,0
2,Entubadora,SW36348,2018-06-11 00:14:22,2018-06-11 00:37:18,0.0,2098.70,0
3,Entubadora,SW27168,2018-06-11 00:37:18,2018-06-11 01:00:09,0.0,2047.39,0
4,Entubadora,SW36342,2018-06-11 01:00:09,2018-06-11 01:51:48,0.0,8056.71,0

In [10]:
df.tail()

,machine,part_id,start,end,good,total,scrap
440,Entubadora,GT33386,2018-06-19 21:44:58,2018-06-19 22:16:10,33.00,33.00,0
441,Entubadora,GT33387,2018-06-19 22:16:10,2018-06-19 22:31:11,57.00,57.00,0
442,Entubadora,5910-1,2018-06-19 22:31:11,2018-06-19 22:50:31,46.00,46.00,0
443,Entubadora,5920-2,2018-06-19 22:50:31,2018-06-19 23:34:23,75.00,75.00,0
444,Entubadora,PX06914,2018-06-19 23:34:23,2018-06-20 00:00:00,487.36,487.36,0

In [12]:
df.dtypes

machine     object
part_id     object
start       object
end         object
good       float64
total      float64
scrap        int64
dtype: object

In [13]:
df.describe()

              good        total  scrap
count   445.000000   445.000000  445.0
mean    249.441708   298.761258    0.0
std     361.534791   564.669151    0.0
min       0.000000     0.000000    0.0
25%      53.990000    60.000000    0.0
50%     162.690000   170.000000    0.0
75%     295.190000   313.720000    0.0
max    3082.890000  8056.710000    0.0

In [24]:
df2 = df.mode()
df2.head(1)

,machine,part_id,start,end,good,total,scrap
0,Entubadora,SW36342,2018-06-11 00:00:00,2018-06-11 00:04:29,0.0,0.0,0.0

In [30]:
df.mean()

good     249.441708
total    298.761258
scrap      0.000000
dtype: float64

In [31]:
df.median()

good     162.69
total    170.00
scrap      0.00
dtype: float64

In [32]:
df.std()

good     361.534791
total    564.669151
scrap      0.000000
dtype: float64

In [33]:
df.var()

good     130707.405264
total    318851.249943
scrap         0.000000
dtype: float64

# clave wifi AlumnosSSID


# udepAlumnos

In [1]:
def factorial(num):
    if num > 1 :
        num = num * factorial(num - 1)
    return num

In [2]:
factorial(5)

120