In [1]:
voltear = lambda a: a[::-1]

In [3]:
voltear("hola")

'aloh'

In [4]:
def volteando(a):
    return a[::-1]

In [5]:
volteando("hola")

'aloh'

In [6]:
impar = lambda a: a % 2 != 0

In [7]:
impar(3)

True

In [8]:
impar(2)

False

In [12]:
lista = [1,2,3,4,5,6,7,8,9]
val = list(filter(lambda a: a%2 != 0, lista))

In [13]:
val

[1, 3, 5, 7, 9]

In [14]:
suma = lambda x,y: x+y

In [16]:
suma(2,3)

5

In [17]:
lista1 = [1,2,3,4,5,6,7,8,9]
lista2 = [9,8,7,6,5,4,3,2,1]
val = list(map(lambda x,y: x*y, lista1, lista2))

In [18]:
val

[9, 16, 21, 24, 25, 24, 21, 16, 9]

__add__() +
__sub__() -
__mul__() *
__truediv__() /

In [50]:
class Array():
    
    def __init__(self,val):
        self.val = val
        
    def __add__(self,otro):
        return list(map(lambda x,y:x+y,list(self.val),list(otro.val)))
    
    def __sub__(self,otro):
        return list(map(lambda x,y:x-y,list(self.val),list(otro.val)))
    
    def __mul__(self,otro):
        return list(map(lambda x,y:x*y,list(self.val),list(otro.val)))
    
    def __truediv__(self,otro):
        return list(map(lambda x,y:x/y,list(self.val),list(otro.val)))

In [51]:
a = Array([1,2])
b = Array([2,1])
resultado = a+b
print("{}".format(resultado))

[3, 3]

In [52]:
a = Array([1,2])
b = Array([2,1])
resultado = a-b
print("{}".format(resultado))

[-1, 1]

In [53]:
a = Array([1,2])
b = Array([2,1])
resultado = a*b
print("{}".format(a*b))

[2, 2]

In [54]:
a = Array([1,2])
b = Array([2,1])
print("{}".format(a/b))

[0.5, 2.0]

In [57]:
[i for i in range(100) if i%2 == 0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [61]:
def pares(n):
    for i in range(n+1):
        if i%2 == 0:
            yield i

In [62]:
pares(100)

In [63]:
a = pares(100)

In [81]:
next(a)

34

In [82]:
for i in a:
    print(i)

36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [83]:
def monitorizar(funcion):
    
    def decorar():
        print("\t* Se está apunto de ejecutar la función:", funcion.__name__)
        
        funcion()
        
        print("\t* Se ha finalizado de ejecutar la función:", funcion.__name__)

    return decorar

In [84]:
def saludar():
    print("hola")

In [87]:
monitorizar(saludar)()

	* Se está apunto de ejecutar la función: saludar
hola
	* Se ha finalizado de ejecutar la función: saludar

In [88]:
@monitorizar
def despedir():
    print("adios")

In [89]:
despedir()

	* Se está apunto de ejecutar la función: despedir
adios
	* Se ha finalizado de ejecutar la función: despedir

In [90]:
help()

Welcome to Python 3.6's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the Internet at https://docs.python.org/3.6/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> keywords

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               def                 if                  raise
None                del                 import              return
True                elif                in                  try
and                 else                is                  while
as                  except              lambda              with
assert              finally             nonlocal            yield
break               for                 not
class               from                or
continue            global              pass

help> exit
No Python documentation found for 'exit'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> s
No Python documentation found for 's'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help>

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [91]:
import re

In [108]:
cadena = '13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S'
cadena2 = re.sub(", M","ltr",cadena)
print(cadena2)
lista = re.split(",",cadena2)
print(lista[3])
lista[3] = re.sub("ltr",", M",lista[3])
lista[3] = re.sub("\"","",lista[3])
print(lista)

13,0,3,"Saundercockltrr. William Henry",male,20,0,0,A/5. 2151,8.05,,S
"Saundercockltrr. William Henry"
['13', '0', '3', 'Saundercock, Mr. William Henry', 'male', '20', '0', '0', 'A/5. 2151', '8.05', '', 'S']

In [124]:
from re import findall
from collections import Counter

In [125]:
cadena

'13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.05,,S'

In [143]:
cadena3 = "grey gray grsy"

Counter(findall("gr[a-v]y",cadena3))

Counter({'grey': 1, 'gray': 1, 'grsy': 1})

In [144]:
from io import open

In [149]:
a = open("fichero.txt","a+")

In [150]:
a.read()

''

In [151]:
a.write("texto")

5

In [154]:
a.read()

'texto'

In [162]:
a.seek(0)

0

In [156]:
a.seek(5)

5

In [157]:
a.write("""
texto linea 2
texto linea 3""")

28

In [159]:
a.read()

'texto\ntexto linea 2\ntexto linea 3'

In [161]:
print(a.read())

texto
texto linea 2
texto linea 3

In [163]:
a.readline()

'texto\n'

In [164]:
a.readlines()

['texto linea 2\n', 'texto linea 3']

In [165]:
a.writelines(['texto linea 2\n', 'texto linea 3'])

In [166]:
a.seek(0)

0

In [168]:
a.read()

'texto\ntexto linea 2\ntexto linea 3texto linea 2\ntexto linea 3'

In [169]:
a.close()

In [173]:
del(a)

In [174]:
a

NameError: name 'a' is not defined

In [32]:
dicc = [1,2,3,4,5,6,7,8]

In [33]:
dicc

[1, 2, 3, 4, 5, 6, 7, 8]

In [34]:
import pickle as pk

In [38]:
archivo = open("dicc.pckl","wb")

In [39]:
pk.dump(dicc,archivo)

In [40]:
archivo.close()

In [42]:
archivo = open("dicc.pckl","rb")
lista = pk.load(archivo)

In [43]:
lista

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
archivo.close()

In [46]:
import sqlite3 as sql

In [47]:
conexion = sql.Connection("dase_de_datos.db")

In [48]:
cursor = conexion.cursor()

In [56]:
cursor.execute("CREATE TABLE usuarios (nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")

OperationalError: table usuarios already exists

In [58]:
conexion.commit()

In [59]:
cursor.execute("insert into usuarios values ('luis',15,'luis@algo')")

In [60]:
conexion.commit()

In [64]:
cursor.execute("select * from usuarios")

In [62]:
cursor.fetchone()

('luis', 15, 'luis@algo')

In [65]:
cursor.fetchall()

[('luis', 15, 'luis@algo')]

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = np.random.rand(2,4,5)

In [5]:
p = pd.Panel(data)

C:\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2963: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4